//colors
$off_white: #f7f7f7
$accent_color: #22887b
$text_color: #566f7b
$accent_overlay: rgba(0,0,0,0.2)

//typography
$heading_font_family: 'roboto slab', georgia, serif
$standard_font_size: 1.1em
$header_title_font_size: calc(3vw + 18px)
$header_title_font_size_large: 53px
$header_font_weight: 400

$body_font_family: sans-serif
$body_font_line_height: 1.4

$footer_label_font_size: 1.3em
$footer_name_font_size: 1.9em

//spacing
$large_spacing: 40px
$standard_spacing: 15px
$small_spacing: 10px
$extra_small_spacing: 5px

$header_height: 25vh
$header_height_min: 200px

$main_spacing_top: 30px
$center_content_medium: 1180px
$center_content_large: 1300px
$center_content_margin_large: calc(50% - 550px)
$center_content_margin_medium: calc(50% - 550px)

$footer_height_min: 95px

//other
$border_radius: 3px
